#------------------------------------------------------------------------------
# BUILD FILES
#------------------------------------------------------------------------------

*.a
*.d
*.dll
*.exp
*.lib
*.o
*.obj
*.so

#------------------------------------------------------------------------------
# BINARY FILES
#------------------------------------------------------------------------------

*.bin
*.elf
*.exe
*.hex
*.map
*.out

#------------------------------------------------------------------------------
# FOLDERS
#------------------------------------------------------------------------------

bin/
build/
log/

#------------------------------------------------------------------------------
# UTILITY FILES
#------------------------------------------------------------------------------

*.orig
*~
.*
\#*#

#------------------------------------------------------------------------------
# EXCEPTIONS
#------------------------------------------------------------------------------

!.gitattributes
!.gitconfig
!.gitignore
!.gitmodules

!.clang-format
!.clang-tidy

!.editorconfig
